body{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(255, 244, 234);
    margin-top: 160px;
}

.logo {
    height: 60px;
    width: auto;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.header-text, #header-link {
    color: rgba(212, 165, 34, 0.767);
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    font-family: Tahoma;
    margin-bottom: 5px;
}

#forward {
    color: rgb(212, 164, 34);
    font-weight: 600;

}

.header {
    background-color: rgba(56, 37, 2, 0.979);
    width: 100%;
    position: fixed;
    margin-top: 0px;
    color: rgba(212, 165, 34, 0.767);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin-top: 0;
    border-bottom: 8px solid rgb(7, 7, 7);
    border-color:  rgba(0, 0, 0, 0.26)
}


.box {
    background-color: rgba(255, 255, 255, 0.61);
    width: 70%;
    margin: auto;
    padding: 10px;
    border: 3px solid black;
    border-radius: 3%;
    border-color: rgba(0, 0, 0, 0.26);
    width: 350px;
}

li {
    padding: 2px;
    margin: 10px;
}

ul {
    padding: 2px;
    list-style-type: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  
}

a {
    color: rgba(212, 165, 34, 0.767);
    text-decoration: none;
    font-weight: 600;
    font-family: "Courier New";
}